        .pagination .page-item.active .page-link {
            background-color: rgb(108,117,125);
             border-color: rgb(108,117,125);
        }

        div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
            background-color: rgb(108,117,125);
            border-color: rgb(108,117,125);
        }

        .pagination .page-item.active .page-link:hover {
            background-color: rgb(108,117,125);
            border-color: rgb(108,117,125);
        }
        .ui-autocomplete {
          max-height: 200px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
        }
          /* IE 6 doesn't support max-height
           * we use height instead, but this forces the menu to always be this tall
           */
        * html .ui-autocomplete {
          height: 200px;
        }
