        .pagination .page-item.active .page-link {
            background-color: rgb(108,117,125);
             border-color: rgb(108,117,125);
        }

        div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
            background-color: rgb(108,117,125);
            border-color: rgb(108,117,125);
        }

        .pagination .page-item.active .page-link:hover {
            background-color: rgb(108,117,125);
            border-color: rgb(108,117,125);
        }
        .ui-autocomplete {
          max-height: 200px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
        }
          /* IE 6 doesn't support max-height
           * we use height instead, but this forces the menu to always be this tall
           */
        * html .ui-autocomplete {
          height: 200px;
        }


.nav-item:first-child .nav-link {
    padding-left: 0;
}

.navbar .nav-link {
    transition: .3s all;
}


.navbar .dropdown-menu {
    margin-top: 7px;
}

.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

}

/* ========================== Post card ==================================*/
.post-card {
    transition: all .3s;
    border: 1px solid var(grey);
    border-radius: 0;
    position:relative;
}

.post-card:hover {
    box-shadow: 0 10px 20px -15px rgba(0,0,0,.75);
}

.post-card-body .post-card-title {
    height:50px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-card-body .post-card-text {
    height:100px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/* ========================== Post card ==================================*/

@media only screen and (min-width: 1200px) {
    .navbar .dropdown-menu-end {
        margin-left: 0;
        border: 0;
    }

    .navbar .nav-link {
        padding: 1rem;
    }

}

@media only screen and (max-width: 1199.98px) {
    .navbar .dropdown-menu {
        padding-left: 1rem;
    }

}
