{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center py-5">
    <div class="col-lg-6">
        <div class="row justify-content-center align-items-center">
            <h2 class="text-xl-center">Смена пароля</h2>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h3>Внимание! Пароль не был изменен.</h3>
                {{ form.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div id="div_id_old_password" class="form-group">
                <label for="id_old_password" class="">Старый пароль:</label>
                <div class=""><input type="password" name="old_password" maxlength="150"
                                     class="textinput textInput form-control" id="id_old_password"></div>
            </div>
            <div id="div_id_new_password1" class="form-group">
                <label for="id_new_password1" class="">Новый пароль:</label>
                <div class=""><input type="password" name="new_password1" maxlength="150"
                                     class="textinput textInput form-control" id="id_new_password1">
                    <div class="help" id="id_new_password1_helptext">
                        <ul>
                            <li><small>Пароль не должен быть слишком похож на другую вашу личную информацию.</small></li>
                            <li><small>Ваш пароль должен содержать как минимум 8 символов.</small></li>
                            <li><small>Пароль не должен быть слишком простым и распространенным.</small></li>
                            <li><small>Пароль не может состоять только из цифр.</small></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="div_id_new_password2" class="form-group">
                <label for="id_new_password2" class="">Подтверждение нового пароля:</label>
                <div class=""><input type="password" name="new_password2" maxlength="150"
                                     class="textinput textInput form-control" id="id_new_password2"></div>
            </div>


            <div class="row">
                <div class="col-md-auto mx-auto p-0">
                    <button class="btn btn-secondary mt-3" type="submit">Сменить пароль</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock content %}