{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock %}


{% block content %}


  <div class="section">

    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="row">

            {% for post in posts %}
              <div class="col-md-12">
                <div class="post post-row">
                  <a class="post-img" href="{{ post.get_absolute_url }}">
                    {% if post.photo %}
                      <img src="{{ post.photo.url }}" alt="{{ post.title }}"></a>
                    {% else %}
                      <img src="https://picsum.photos/id/1060/320/235/?blur=2" alt="{{ post.title }}"></a>
                    {% endif %}

                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-{{ post.category.pk }}" href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                        <span class="post-date">{{ post.created_at | date:"j E Y год"}}</span>
                      </div>
                      <h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                      {{ post.content | truncatewords_html:20 | safe }}
                    </div>
                  </div>
                </div>
            {% endfor %}

            <div class="pagination">
              <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo;</a>
                  <a href="?page={{ page_obj.previous_page_number }}">пред</a>
                {% endif %}

                <span class="current">
                  Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">след</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
              </span>
            </div>

          </div>
        </div>
        <div class="col-md-4">


          <div class="aside-widget">
            <div class="section-title">
              <h2>Категории</h2>
            </div>
            <div class="category-widget">
              <ul>
                {% for category in categories %}
                  <li><a href="{{ category.get_absolute_url }}" class="cat-{{ category.pk }}">{{ category.title }} <span>{{category.pk }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>


          <div class="aside-widget">
            <div class="section-title">
              <h2>Теги</h2>
            </div>
            <div class="tags-widget">
              <ul>
                <li><a href="index.html#">Chrome</a></li>
                <li><a href="index.html#">CSS</a></li>
                <li><a href="index.html#">Tutorial</a></li>
                <li><a href="index.html#">Backend</a></li>
                <li><a href="index.html#">JQuery</a></li>
                <li><a href="index.html#">Design</a></li>
                <li><a href="index.html#">Development</a></li>
                <li><a href="index.html#">JavaScript</a></li>
                <li><a href="index.html#">Website</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
{% endblock %}