{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}  {% endblock %}</title>
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

<div class="col-lg-10 mx-auto">

    {% include 'inc/_header.html' %}
    <main>
        {% block content %} {% endblock %}
    </main>
    {% include 'inc/_footer.html' %}


</div>

<script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
