{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Сайт Органические ацидемии{% endblock %}">
    <title>{% block title %}Органические ацидемии{% endblock %}</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://kit.fontawesome.com/07a6bceafc.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="col-lg-10 mx-auto">

    {% include 'inc/_header.html' %}

    <main class="mb-4">
        {% block content %} {% endblock %}
    </main>
    {% include 'inc/_footer.html' %}


</div>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
