{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block description %}{{ title }}{% endblock %}
{% block title %} {{ title }} {% endblock %}


{% block content %}


  <div class="section">


    <form method="post">
      {% csrf_token %}
      <p class="pt-3">Удалить диету <strong>"{{ object }}"</strong> ?</p>
      <a href="{% url 'dietcalc:mydiets' %}" class="btn btn-sm btn-secondary">Вернутся к диетам</a>
      <input type="submit" class="btn btn-sm btn-danger" value="Удалить">
    </form>

  </div>
{% endblock %}