{% extends 'base.html' %}
{% load static %}

{% block title %} {{ page.title }} {% endblock %}


{% block content %}


<div class="section">
    <div class="container py-5">

       <h3 class="text-center">Связаться с нами</h3><br/>

        <div class="row">
            <div class="col-lg-6 col-xl-4">

                {{ page.content|safe }}

            </div>
            <div class="col-lg-6 col-xl-8">
                        {% if messages %}

            {% for message in messages %}

                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}

            {% endif %}
                <h4>Обратная связь:</h4>
                   <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Отправить"/>
                </form>
            </div>

        </div>

    </div>

</div>
{% endblock %}