{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


  <div class="section">

    <div class="container py-4">
    {% if user == userstore.user %}
      <form method="post">
        {% csrf_token %}
        <p>{% if userstorepublished %} <span class="text-success">Вы опубликовываете свою историю.</span> {% else %} <span class="text-danger">Вы снимаете с публикации свою историю.</span> {% endif %}</p>
        <input type="hidden" name="is_published" value="{{ userstorepublished }}">
        <input type="submit" {% if userstorepublished %} class="btn btn-success" value="Опубликовать" {% else %} class="btn btn-danger" value="Снять с публикации" {% endif %}>
      </form>
    {% else %}
      <h3 class="text-danger"> Ошибка доступа.</h3>
      <p>Вы не можете править не свою историю.</p>
    {% endif%}
    </div>

  </div>
{% endblock %}