{% load static %}

<nav class="navbar navbar-expand-xl navbar-dark bg-dark bg-gradient rounded-3">
    <div class="container-fluid">
        <img class="px-2" src="{% static 'assets/img/logo.png' %}" alt="Logo">
        <a class="navbar-brand fs-3 fst-italic text-danger" href="{% url 'siteapp:home' %}">Органические ацидемии</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'siteapp:home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:home' %}">Блог</a>
                </li>
                    {% load mptt_tags %}
                        {% recursetree menuhome %}
                            {% if node.divider %}
                                <li><hr class="dropdown-divider"></li>
                            {% else %}
                                <li {% if not node.is_leaf_node %} class="nav-item dropdown" {% endif %}>
                                    <a class="{% if not node.is_leaf_node %} nav-link dropdown-toggle {% else %} dropdown-item {% endif %} {% if node.disabled %} disabled {%endif%}" href="{{ node.get_absolute_url }}" {% if not node.is_leaf_node %} id="navbarDropdown1" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false" {% endif %}>{{ node.name }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                                <li>{{ children }}</li>
                                            </ul>
                                        {% endif %}
                                </li>
                            {% endif %}
                        {% endrecursetree %}


                <li class="nav-item">
                    <a href="{% url 'siteapp:contacts' %}"  class="nav-link">Контакты</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-secondary disabled" href="#">Вход</a>
            </form>
        </div>
    </div>
</nav>
