{% load static %}

<nav class="navbar navbar-expand-xl navbar-dark bg-dark bg-gradient rounded-3">
    <div class="container-fluid">
        <img class="px-2" src="{% static 'assets/img/logo.png' %}" alt="Logo">
        <a class="navbar-brand fs-3 fst-italic text-danger" href="{% url 'siteapp:home' %}">Органические ацидемии</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:home' %}">Блог</a>
                </li>-->
                {% load mptt_tags %}
                        {% recursetree menuhome %}
                          {% if node.divider %}
                                <li><hr class="dropdown-divider"></li>
                            {% else %}
                                    <li {% if not node.is_leaf_node and node.level == 0%}class="nav-item dropdown"{%elif not node.is_leaf_node and node.level > 0 %}class="nav-item dropend"{%elif node.is_leaf_node and node.level == 0 %}class="nav-item"{% endif %}>
                                    <a class="{% if not node.is_leaf_node and node.level == 0%}nav-link dropdown-toggle{%elif not node.is_leaf_node and node.level > 0 %}dropdown-item dropdown-toggle{%elif node.is_leaf_node and node.level > 0 %}dropdown-item{% else %}nav-link{% endif %}{% if node.disabled %} disabled {%endif%}"
                                       {% if node.is_url%}href="{{ node.get_absolute_url }}"{%endif%} {% if not node.is_leaf_node and node.level == 0%} role="button" aria-expanded="false" {% endif %} {% if not node.is_leaf_node%} data-bs-toggle="dropdown" data-bs-auto-close="outside"{% endif %}>{{ node.name }}</a>
                                        {% if not node.is_leaf_node and node.level == 0 %}
                                            <ul class="dropdown-menu">
                                                 <li>{{ children }}</li>
                                            </ul>
                                        {%elif not node.is_leaf_node and node.level > 0 %}
                                            <ul class="dropdown-menu dropdown-togle" data-bs-popper="static">
                                                 <li>{{ children }}</li>
                                            </ul>

                                        {% endif %}
                                </li>
                            {% endif %}
                        {% endrecursetree %}


<!--                <li class="nav-item">
                    <a href="{% url 'siteapp:page_site_svyaz_obratnaya' %}"  class="nav-link">Koнтакты</a>
                </li>-->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'siteapp:user_stores_list' %}"  class="nav-link">Истории</a>
                    </li>
                {% endif %}

            </ul>

                {% if user.is_authenticated %}
                    <div class="dropdown text-end">
                      <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                          {% else %}
                        <img src="{% static 'assets/img/default_avatar.svg' %}" alt="mdo" width="32" height="32" class="rounded-circle">
                          {% endif %}
                      </a>
                      <ul class="dropdown-menu text-small" style="">
                        <li><p class="dropdown-item"><b>{% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{ user }} {% endif %}</b></p></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'siteapp:my_user_stores_list' %}">Мои истории</a></li>
                        <li><a class="dropdown-item" href="{% url 'dietcalc:mydiets' %}">Мои диеты</a></li>
                        <li><a class="dropdown-item" href="{% url 'dietcalc:myfoods' %}">Мои продукты</a></li>
                        <li><a class="dropdown-item" href="{% url 'authapp:profile_edit' %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'authapp:password_change' pk=user.pk %}">Изменить пароль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'authapp:logout' %}">Выйти</a></li>
                      </ul>
                    </div>
                {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'authapp:login' %}">Вход</a>
                {% endif %}

            </div>
    </div>
</nav>
