{% load static %}

<nav class="navbar navbar-expand-xl navbar-dark bg-dark bg-gradient rounded-3">
    <div class="container-fluid">
        <img class="px-2" src="{% static 'assets/img/logo.png' %}" alt="Logo">
        <a class="navbar-brand fs-3 fst-italic text-danger" href="{% url 'siteapp:home' %}">Органические ацидемии</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'siteapp:home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:home' %}">Блог</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'siteapp:page_slug' slug='important_info' %}" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Коротко о важном</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="{% url 'siteapp:page_slug' slug='important_info' %}">Диета</a></li>
                        <li><a class="dropdown-item" href="{% url 'siteapp:page_slug' slug='important_info' %}">Пропионовая Ацидемия</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Заболевания</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">МетилМалоновая Ацидемия</a></li>
                        <li><a class="dropdown-item" href="#">Пропионовая Ацидемия</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item disabled" href="#">Другие органические ацидемии</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">ДиетКалькулятор</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-outline-secondary disabled" href="#">Вход</a>
            </form>
        </div>
    </div>
</nav>
