{% extends 'base.html' %}

{% load static %}

{% block description %}{{ title }}{% endblock %}
{% block title %} {{ title }} {% endblock %}


{% block content %}


<div class="section">

    <div class="container py-4">

        <h3 class="my-2">Рассчет объема 30% L-карнитина на сутки(на вес в кг): </h3>
        <input type="number" min="0" max="1000" class="form-control" id="weight" value="" placeholder="укажите вес в килограммах">
<!--        <div class="form-check form-switch my-3">
            <input class="form-check-input type_checkbox" type="checkbox" role="switch" id="typeСalculation">
            <label class="form-check-label" id="labelTypeСalculation" for="typeСalculation">4% -> 5%</label>
        </div>-->
        <h5 class="my-2" id="volumeTransfer"></h5>
        <button class="btn btn-primary mt-2" id="btnCalc">Рассчитать</button>

    </div>

</div>
{% endblock %}

{% block javascript %} {{ block.super}}
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script>
        function calc(){
          var weight = $('#weight').val();
          volume_calc = weight / 3;
                     if (weight > 0){
                          $('#volumeTransfer').html('На вес '  + weight +'кг необходимо:  <span class="text-danger">'  + volume_calc.toFixed(1) + ' мл</span> в сутки 30% L-карнитина');
                     }else{
                        $('#volumeTransfer').text('')
                     }
        }
         jQuery(document).ready(function ($){
            $('#weight').keydown(function(e) {
                if(e.keyCode === 13) {
                 calc();
                }
              });
            $('#weight').on( "change", function() {
                calc()
            });
            $('#btnCalc').click(function(){
                calc();
            });
        });
    </script>
{% endblock javascript %}